src/main/java/com/fsb/client/generated/recipes.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.fsb.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.fsb.com/" name="RecipeServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.fsb.com/" schemaLocation="http://localhost:8080/ws/recipes?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getAllRecipes">
<part name="parameters" element="tns:getAllRecipes"></part>
</message>
<message name="getAllRecipesResponse">
<part name="parameters" element="tns:getAllRecipesResponse"></part>
</message>
<message name="addRecipe">
<part name="parameters" element="tns:addRecipe"></part>
</message>
<message name="addRecipeResponse">
<part name="parameters" element="tns:addRecipeResponse"></part>
</message>
<message name="getRecipe">
<part name="parameters" element="tns:getRecipe"></part>
</message>
<message name="getRecipeResponse">
<part name="parameters" element="tns:getRecipeResponse"></part>
</message>
<portType name="RecipeService">
<operation name="getAllRecipes">
<input wsam:Action="http://soap.fsb.com/RecipeService/getAllRecipesRequest" message="tns:getAllRecipes"></input>
<output wsam:Action="http://soap.fsb.com/RecipeService/getAllRecipesResponse" message="tns:getAllRecipesResponse"></output>
</operation>
<operation name="addRecipe">
<input wsam:Action="http://soap.fsb.com/RecipeService/addRecipeRequest" message="tns:addRecipe"></input>
<output wsam:Action="http://soap.fsb.com/RecipeService/addRecipeResponse" message="tns:addRecipeResponse"></output>
</operation>
<operation name="getRecipe">
<input wsam:Action="http://soap.fsb.com/RecipeService/getRecipeRequest" message="tns:getRecipe"></input>
<output wsam:Action="http://soap.fsb.com/RecipeService/getRecipeResponse" message="tns:getRecipeResponse"></output>
</operation>
</portType>
<binding name="RecipeServiceImplPortBinding" type="tns:RecipeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getAllRecipes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addRecipe">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getRecipe">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="RecipeServiceImplService">
<port name="RecipeServiceImplPort" binding="tns:RecipeServiceImplPortBinding">
<soap:address location="http://localhost:8080/ws/recipes"></soap:address>
</port>
</service>
</definitions>